
/* ALL USE */
a{
    text-decoration: none;
}

header>div nav ul li a,
header>div>ul li p,
#about figcaption p,
section.videoContainer h2,
section.expContainer>ul li,
footer>div>div:first-of-type p,
footer>div>div:not(:first-of-type) h2,
footer>div>div:nth-of-type(2) address,
footer>div>div:nth-of-type(4){
    font-family: 'Roboto';
}
header>div>ul li h2,
#about figcaption h2,
section.expContainer>h2,
section.expContainer>p{
    font-family: 'Playfair Display';
}
.btn_more{
    font-family: 'Hammersmith One';
}

.btn_more{
    display: block; 
    font-size: 16px; 
    font-weight: 400; 
    color: #00e0d0;
    border: 1px solid #00e0d0;
    text-align: center; 
    padding: 10px 0;
}

@media screen and (min-width: 1280px){
    header{
        background-image: url('../images/bg_01.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        padding: 15px 0 70px;
    }
    header>div{
        max-width: 940px; margin: 0 auto;
        position: relative;
    }
    header>div h1{
        max-width: 128px;
        position: absolute; top: 0; left: 0; z-index: 1;
    }
    header>div h1 a{
        display: block;
    }
    header>div h1 a img{
        width: 100%;
    }

    header>div nav{
        position: absolute; right: 0; top: 0;
        width: 100%; padding-left: 130px; box-sizing: border-box;
    }
    header>div nav ul{
        text-align: right;
    }
    header>div nav ul li{
        display: inline-block;
    }
    header>div nav ul li:not(:first-of-type){
        margin-left: 25px;
    }
    header>div nav ul li a{
        font-weight: 900;
        font-size: 13px;
        color: #fff;
        line-height: 50px;

        transition-property: color;
        transition-duration: .3s;
        transition-timing-function: ease-out;
    }
    header>div nav ul li a:hover{
        color: #00e0d0;
    }

    header>div>ul{
        margin-bottom: 127px;
    }
    header>div>ul li{
        display: block; padding-top: 165px;
    }
    header>div>ul li h2{
        font-size: 32px; font-weight: 900; color: #fff;
        text-align: center;

        padding-bottom: 22px; margin-bottom: 30px;
        background-image: url('../images/border.png');
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    header>div>ul li p{
        font-size: 14px; font-weight: 300; line-height: 24px;
        text-align: center; color: #fff;

        max-width: 775px; margin: 0 auto 50px;
    }
    header>div>ul li a{
        max-width: 120px; margin: 0 auto; 
    }
    /* ! a display: inline */

    
    header>div>ol{
        text-align: center; margin: 0 auto;
    }
    header>div>ol li{
        display: inline-block;
    }
    header>div>ol li a{
        display: block;
        width: 10px; height: 10px; border-radius: 50%;
        text-indent: -9999px;
        border: 1px solid rgba(255, 255, 255, 0.6); box-sizing: border-box;
    }
    header>div>ol li a.active,
    header>div>ol li a:hover{
        border-color: #00e0d0; background-color: #00e0d0;
    }
    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer>div{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
    }
    footer>div>div:not(:last-of-type){
        float: left; width: 32%; margin: 0 0 70px 2%;
    }
    footer>div>div:first-of-type{
        margin-left: 0;
    }
    footer>div>div h2{
        margin-bottom: 20px;
    }
    footer>div>div:not(:first-of-type) h2{
        font-weight: 900; font-size: 15px; line-height: 50px; color: #fff;
    }
    footer>div>div:first-of-type p{
        font-weight: 300; font-size: 14px; line-height: 26px; color: #fff;
    }
    footer>div>div:nth-of-type(2) address{
        font-style: normal;
        font-weight: 300; font-size: 14px; line-height: 26px; color: #fff;
    }
    footer>div>div:nth-of-type(2) address a{
        color: #fff;
    }
    footer>div>div:nth-of-type(2) address span{
        display: block;
        padding-left: 30px;

        background-repeat: no-repeat;
        background-position: left 5px;   
    }
    footer>div>div:nth-of-type(2) address span:nth-of-type(1){background-image: url('../images/bul_map.png');}
    footer>div>div:nth-of-type(2) address span:nth-of-type(2){background-image: url('../images/bul_phone.png');}
    
    footer>div>div:nth-of-type(3) input{
        float: left; margin-bottom: 25px;
    }
    footer>div>div:nth-of-type(3) input[type='email']{
        display: block;
        width: 80%;
        background-color: transparent;
        padding: 0 15px; line-height: 43px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
    }
    footer>div>div:nth-of-type(3) input[type='submit']{
        display: block;
        width: 18%; margin-left: 2%;
        line-height: 43px; border: none;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url('../images/btn_submit.png');
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999px;
        cursor: pointer;
    }
    footer>div>div:nth-of-type(3) ul{
        clear: left;
    }
    footer>div>div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    footer>div>div:nth-of-type(3) ul li:not(:first-of-type){
        margin-left: 8px;
    }
    footer>div>div:nth-of-type(3) ul li a{
        text-indent: -9999px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
    }
    footer>div>div:nth-of-type(3) ul li:nth-of-type(1) a{background-image: url('../images/ico_sns_01.png');}
    footer>div>div:nth-of-type(3) ul li:nth-of-type(2) a{background-image: url('../images/ico_sns_02.png');}
    footer>div>div:nth-of-type(3) ul li:nth-of-type(3) a{background-image: url('../images/ico_sns_03.png');}
    footer>div>div:nth-of-type(3) ul li:nth-of-type(4) a{background-image: url('../images/ico_sns_04.png');}
    footer>div>div:nth-of-type(3) ul li:nth-of-type(5) a{background-image: url('../images/ico_sns_05.png');}
    footer>div>div:nth-of-type(3) ul li:nth-of-type(6) a{background-image: url('../images/ico_sns_06.png');}

    footer>div>div:nth-of-type(4){
        clear: left;
        font-size: 14px; font-weight: 400; line-height: 26px; color: #fff;
    }
    footer>div>div:nth-of-type(4) a{
        color: #fff;
        display: inline-block;
    }
    footer>div>div:nth-of-type(4) a:not(:first-of-type){
        margin-left: 30px;
    }
    footer>div>div:nth-of-type(4) p{
        float: right;
    }
}
/* desktop */