


@media screen and (min-width: 1280px){
    #about{
        max-width: 940px; margin: 0 auto; padding: 70px 0 70px 4%;
    }
    /* 
        * image 235px -> 20% -> 25% max-width: 235px
        ! margin 100px -> 10% -> 15%
        ? figure 543px -> 50% -> 60%
    */
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: 25%; max-width: 235px;
    }
    #about figcaption{
        float: left; width: 60%; margin-left: 15%;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
        margin-bottom: 15px;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.75);
        line-height: 22px; margin-bottom: 25px;
    }
    #about figcaption a{
        max-width: 120px;
    }
    section.videoContainer{
        background: url('../images/bg_02.png') left top / cover no-repeat;
        padding: 200px 0;
    }
    section.videoContainer a{
        display: block; 
        width: 100px;
        color: #fff;
        margin: 0 auto 30px;
        text-align: center;
        border: 3px solid #fff;
        border-radius: 50px;
        box-sizing: border-box;
        padding: 20px 0 29px 10px;
        font-size: 45px;
    }
    section.videoContainer h2{
        font-size: 16px; font-weight: 900; color: #fff;
        text-align: center;
    }

    section.expContainer{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
        text-align: center;
    }
    section.expContainer>h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
        margin-bottom: 15px;
    }
    section.expContainer>p{
        font-size: 14px; font-weight: 400; color: rgba(47, 45, 53, 0.75);
        margin-bottom: 15px;
    }
    section.expContainer>hr{
        border-width: 2px 0 0;
        border-style: solid;
        border-color: rgba(65, 61, 75, 0.3);

        width: 50px; margin: 0 auto 50px;
    }
    section.expContainer>ul:after{
        content: ''; display: block; clear: both;
    }
    section.expContainer>ul li{
        float: left; width: 33.333%; display: block;
        padding: 120px 32px 40px; box-sizing: border-box;

        background-repeat: no-repeat;
        background-position: center 40px;
    }
    section.expContainer>ul li:nth-of-type(1){background-image: url('../images/ico_01.png');}
    section.expContainer>ul li:nth-of-type(2){background-image: url('../images/ico_02.png');}
    section.expContainer>ul li:nth-of-type(3){background-image: url('../images/ico_03.png');}
    section.expContainer>ul li:nth-of-type(4){background-image: url('../images/ico_04.png');}
    section.expContainer>ul li:nth-of-type(5){background-image: url('../images/ico_05.png');}
    section.expContainer>ul li:nth-of-type(6){background-image: url('../images/ico_06.png');}
    
    
    section.expContainer>ul li:not(:nth-of-type(3n)){
        border-right: 1px solid #ebebeb;
    }
    /* section.expContainer>ul li:not(:nth-of-type(3n+1)){
        border-left: 1px solid #ebebeb;
    } */
    
    section.expContainer>ul li:not(:nth-of-type(n):nth-of-type(-n+3)){
        border-top: 1px solid #ebebeb;
    }



    section.expContainer>ul li h3{
        font-size: 14px; font-weight: 900; color: #413d4b;
        margin-bottom: 15px;
    }
    section.expContainer>ul li p{
        font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.75);
        line-height: 22px;
    }
}