html, body{
    height: 100%;
}
body{
    margin: 0; background-color: black;
}
header{
    width: 100%; height: 20%;
    background-color: red; color: white; font-size: 30px;
    position: fixed; top: 0; left: 0; z-index: 10;
}
aside{
    position: absolute; height: 80%; top: 20%;
    width: 20%; left: 0; background-color: green; font-size: 30px;
}
article{
    position: absolute; height: 80%; top: 20%;
    width: 70%; background-color: blue;
    /* left: 30%; */
    right: 0;
}
footer{
    position: absolute;
    top: 100%;
    /* bottom: 0; */
    width: 100%; line-height: 50px; font-size: 30px;
    text-align: center;
    background-color: orange;
}