html,body{
    height: 100%;
}
*{
    margin: 0; padding: 0;
}
aside{
    width: 20%; height: 100%;
    position: fixed; left: 0; top: 0;
    /* ? position 사용시 0 을 쓰는 코드를 작성하기 */
    background-color: paleturquoise;
    padding: 30px; box-sizing: border-box;
}
aside header{
    margin-bottom: 60px;
}
aside header h1{
    text-align: center;
}
aside header h1 a{
    display: block;
}
aside header h1 a img{
    width: 100%;
}
aside nav ul{
    list-style: none;
}
aside nav ul li{
    /* display: block; */
    text-align: center;
}
aside nav ul li:nth-of-type(1),
aside nav ul li:nth-of-type(2),
aside nav ul li:nth-of-type(3),
aside nav ul li:nth-of-type(4){margin-bottom: 20px;}
aside nav ul li a{
    text-decoration: none;
    color: green;
}
aside footer{
    position: absolute;
    bottom: 10%; width: 100%; left: 0;
    background-color: blue; color: white;
    text-align: center;
}
article{
    background-color: antiquewhite;
    padding-left: 22%;
    /* ! position 으로 띄울때 아래 있는 영역에 padding 으로 자리 만들어주기 */
}
article h2,
article blockquote,
article q{
    margin-bottom: 80px;
}
article h2{
    font-size: 40px;
    color: forestgreen;
    font-weight: 700;
}
article blockquote{
    border: 5px solid olive;
    font-size: 26px;
    padding: 30px; box-sizing: border-box;
}
article q{
    font-size: 21px; display: block;
}
article ul li{
    margin-bottom: 100px; display: block;
}
article ul li h3{
    font-size: 30px; color: blueviolet; margin-bottom: 50px;
}
article ul li p{
    font-size: 21px; color: darkgreen;
}