*{
    margin: 0; padding: 0;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    float: left;
    width: 16.66%;
    display: block;
}
ul li figure img{
    width: 100%; display: block;
}
ul li figure figcaption{
    background-color: yellow;
    text-align: center;
}