p+ul:after{
    content: ''; display: block; clear: both;
}
p+ul li{
    display: block;
    float: left;
    width: 30%;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding-top: 46px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center top;
}
p+ul li:nth-of-type(1){background-image: url('../images/icon_macYe.png');}
p+ul li:nth-of-type(2){background-image: url('../images/icon_macIv.png');}
p+ul li:nth-of-type(3){background-image: url('../images/icon_macPi.png');}

p+ul li:not(:first-of-type){
    margin-left: 3.333%;
}
p+ul li a{
    text-decoration: none;
}