
[class^='panel']:not(.active){
    display: none;
}

header>div:last-of-type>nav ul li a,
header>div:last-of-type>ul li a,
#cartEmpty h2,
#cartHave ul li>div:last-of-type mark,
section.mainContainer h2,
section.listContainer.type01 .titleBox h2,
section.listContainer.type01 ul li div h3,
footer div:last-of-type p{
    font-family: 'Sono';
}

header>div:first-of-type a,
footer div:last-of-type p mark{
    font-family: 'Caveat';
}

#cartEmpty input[type='button']:last-of-type,
section.mainContainer a,
section.listContainer.type01 ul li div a{
    font-family: 'Saira';
}

section.mainContainer p,
section.listContainer.type01 .titleBox p,
section.listContainer.type01 ul li div p,
footer div:first-of-type h2{
    font-family: 'Quicksand';
}
/* 
    *material-icon 사용시 font-family X
*/

header input,
[class*='panel']>input[type='button']:first-of-type,
#cartHave ul li>div:first-of-type input{
    background-color: transparent; border: none; padding: 0; cursor: pointer;
}

@media screen and (min-width: 1280px){
    header{
        position: fixed; width: 100%; top: 0;
        background-color: #e5e3cb;
        text-align: center; z-index: 10;
    }
    header>div:first-of-type:not(.active){
        display: none;
    }
    header>div:first-of-type{
        background-color: #c0cb92;
        line-height: 40px;
    }
    header>div:first-of-type a{
        font-size: 18px; font-weight: 700; text-decoration: none;
        color: #454545;
    }
    header>div:first-of-type input{
        position: absolute; right: 10%; line-height: 40px;
        color: #78776b;
    }
    header>div:last-of-type{
        position: relative; padding: 0 10%; margin: 20px 0;
    }
    header>div:last-of-type h1{
        position: absolute; top: 0; left: 10%;
        max-width: 131px;
    }
    header>div:last-of-type h1 a{
        display: block;
    }
    header>div:last-of-type h1 a img{
        width: 100%; display: block;
    }
    header>div:last-of-type nav ul{
        text-align: center;
    }
    /* 
        * 부모가 text-align 갖고 자손의 속성이 inline 일때 
        * width 부여하지 않고 자손의 태그를 움직일 수 있다.
    */
    header>div:last-of-type nav ul li{
        display: inline-block;
    }
    header>div:last-of-type nav ul li:not(:first-of-type){
        margin-left: 1.5%;
    }
    header>div:last-of-type nav ul li a{
        text-decoration: none;
        color: #78776b;
        font-size: 16px; font-weight: 400; line-height: 50px;
    }
    header>div:last-of-type>ul{
        position: absolute; top: 0; right: 10%; 
        padding: 10px 0;
    }
    header>div:last-of-type>ul li{
        display: inline-block;
    }
    header>div:last-of-type>ul li:last-of-type{
        margin-left: 10px;
    }
    header>div:last-of-type>ul li *{
        display: inline-block; vertical-align: middle;
    }
    header>div:last-of-type>ul li a{
        font-size: 16px; font-weight: 400; color: #78776b; text-decoration: none;
    }
    header>div:last-of-type>ul li input{
        color: #78776b; font-size: 30px;
    }
    header>div:last-of-type>ul li a span{
        font-size: 30px;
    }

    [class*='panel']{
        position: fixed; z-index: 100; right: 0; top: 0;
        width: 35%; height: 100%; background-color: #e5e3cb;
        padding: 80px; box-sizing: border-box;
    }
    [class*='panel']>input[type='button']:first-of-type{
        position: absolute; top: 80px; right: 80px;
        font-size: 40px; color: #78776b;
    }

    #cartEmpty{
        text-align: center;
        flex-flow: column; justify-content: center;
    }
    #cartEmpty.active{
        display: flex;
        /* 수직정렬에 강함 / height 필수 / background-imgae */
    }
    #cartEmpty>*:not(input:first-of-type){
        color: #524b0b;
    }
    #cartEmpty h2{
        font-size: 25px; font-weight: 400;
        margin-bottom: 20px;
    }
    #cartEmpty p{
        font-size: 15px; font-weight: 500;
        max-width: 430px; margin: 0 auto 20px;
    }
    #cartEmpty input[type='button']:last-of-type{
        background-color: #ccc991; line-height: 54px;
        border: none; width: 100%; max-width: 500px; margin: 0 auto;
        font-size: 20px; font-weight: 500;
    }

    #cartHave ul{
        padding: 40px 0;
    }
    #cartHave ul li{
        display: block;
        background-image: url('../images/transparent_item01.png');
        background-repeat: no-repeat;
        background-position: left center;
        padding: 25px 0 25px 24%;
        background-size: 20%;
        /* 
        * background image -> padding % & size %
        */
        border-bottom: 1px solid #bab8a6;
    }
    #cartHave ul li>div:first-of-type{
        position: relative; margin-bottom: 40px;
    }
    #cartHave ul li>div:first-of-type dl{
        padding-right: 24px; color: #303325;
    }
    #cartHave ul li>div:first-of-type dl dt{
        font-size: 18px; font-weight: 400;
    }
    #cartHave ul li>div:first-of-type dl dd{
        font-size: 15px; font-weight: 500;
    }
    #cartHave ul li>div:first-of-type input{
        position: absolute; top: 0; right: 0; color: #999999;
    }
    #cartHave ul li>div:last-of-type:after{
        content: ''; display: block; clear: both;
    }
    #cartHave ul li>div:last-of-type div{
        float: left; width: 50%;
    }
    #cartHave ul li>div:last-of-type div input{
        border: 1px solid #878678; line-height: 30px;
        width: 33.333%; max-width: 50px;
        background-color: transparent; padding: 0;
        vertical-align: bottom;
    }
    #cartHave ul li>div:last-of-type div span{
        border: 1px solid #878678; line-height: 30px;
        width: 33.333%; text-align: center; max-width: 50px;
        /* display: block; */
        display: inline-block;
        margin-left: -7px;
    }
    #cartHave ul li>div:last-of-type div input:last-of-type{
        margin-left: -6px;
    }
    #cartHave ul li>div:last-of-type mark{
        float: left; width: 50%;
        line-height: 30px;
        background-color: transparent;
        font-style: normal;
        font-size: 20px; font-weight: 400;
        color: #90996e;
        text-align: right;
    }
    #cartHave>div{
        position: absolute;
        bottom: 80px;
        width: calc(100% - 160px);
        /* width: 100%; */
        text-align: right;
    }
    #cartHave>div strong{
        position: absolute; left: 0;
    }
    #cartHave>div a{
        display: block;
        background-color: #ccc991;
        text-decoration: none;
        color: #524b0b;
        font-size: 20px; font-weight: 500;
        line-height: 50px; text-align: center;
        margin-top: 20px;
    }

    footer{
        padding: 0 10%; margin: 100px auto; max-width: 1920px;
    }
    footer:after{
        content: ''; display: block; clear: both;
    }
    footer div:first-of-type{
        float: left; width: 20%; max-width: 300px;
    }
    footer div:nth-of-type(2){
        float: left; width: 20%; max-width: 300px; margin-left: 5%;
    }
    footer div:last-of-type{
        float: right; width: 40%;
    }
    footer div h2{
        font-size: 25px; font-weight: 500; color: #414532; text-transform: uppercase;
        margin-bottom: 30px;
    }
    footer div ul li{
        display: block;
    }
    footer div ul li:not(:last-of-type){
        margin-bottom: 10px;
    }
    footer div ul li a{
        text-decoration: none; font-size: 15px; font-weight: 500; color: #5a5a66;
    }
    footer div h2+ol:after{
        content: ''; display: block; clear: both;
    }
    footer div h2+ol li{
        display: block; float: left; width: 20%; 
        max-width: 50px; line-height: 50px;
    }
    footer div h2+ol li:not(:first-of-type){
        margin-left: 6.666%;
    }
    footer div h2+ol li a{
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        text-indent: -9999px;
    }
    footer div h2+ol li:nth-of-type(1) a{background-image: url('../images/ico_sns_01.png');}
    footer div h2+ol li:nth-of-type(2) a{background-image: url('../images/ico_sns_02.png');}
    footer div h2+ol li:nth-of-type(3) a{background-image: url('../images/ico_sns_03.png');}
    footer div h2+ol li:nth-of-type(4) a{background-image: url('../images/ico_sns_04.png');}
    
    footer div h2+ol li:nth-of-type(1):hover a{background-image: url('../images/ico_sns_01_hover.png');}
    footer div h2+ol li:nth-of-type(2):hover a{background-image: url('../images/ico_sns_02_hover.png');}
    footer div h2+ol li:nth-of-type(3):hover a{background-image: url('../images/ico_sns_03_hover.png');}
    footer div h2+ol li:nth-of-type(4):hover a{background-image: url('../images/ico_sns_04_hover.png');}
    
    footer div:last-of-type ol{
        display: flex; justify-content: flex-end;
        margin-bottom: 40px;
    }
    footer div:last-of-type ol li{
        display: block;
        background-repeat: no-repeat; background-position: center bottom;
        line-height: 110px; text-indent: -9999px;
    }
    footer div:last-of-type ol li:not(:first-of-type){
        margin-left: 8%;
    }
    footer div:last-of-type ol li:nth-of-type(1){background-image: url('../images/ico_footer01.png'); width: 90px;}
    footer div:last-of-type ol li:nth-of-type(2){background-image: url('../images/ico_footer02.png'); width: 128px;}
    footer div:last-of-type ol li:nth-of-type(3){background-image: url('../images/ico_footer03.png'); width: 113px;}

    footer div:last-of-type p{
        font-size: 20px; font-weight: 400; color: #45443d;
        text-align: right;
    }
    footer div:last-of-type p mark{
        display: block; margin-bottom: 30px;
        font-size: 30px; font-weight: 700; color: #7f8761;
        background-color: transparent; font-style: normal;
    }
}