
@media screen and (min-width: 1280px){
    section{
        padding-top: 130px;
    }
    section.mainContainer{
        background: url('../images/index_banner.png') left top / cover no-repeat;
        padding: 575px 10% 280px 50%; box-sizing: border-box;
        text-align: center;
    }
    section.mainContainer>*:not(a){
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
    }
    section.mainContainer h2{
        font-size: 50px; font-weight: 300; color: #ffd6d6;
        margin-bottom: 20px;
    }
    section.mainContainer p{
        font-size: 25px; font-weight: 500; color: #fffc99;
        line-height: 35px; margin-bottom: 30px;
    }
    section.mainContainer a{
        font-size: 20px; font-weight: 500; color: #e0838a;
        display: block; background-color: #ebe4de;
        margin: 0 auto; max-width: 220px; line-height: 50px;
        text-decoration: none;
    }
    section.listContainer.type01{
        margin-bottom: 100px;
    }
    section.listContainer.type01 .titleBox{
        background-repeat: no-repeat;
        background-position: left bottom;
        padding: 70px 0 620px;
        text-align: center; margin-bottom: 100px;
    }
    section.listContainer.type01 .titleBox.list01{background-image: url('../images/listPage01_banner.png');}
    section.listContainer.type01 .titleBox.list06{background-image: url('../images/listPage06_banner.png');}
    section.listContainer.type01 .titleBox h2{
        font-size: 50px; font-weight: 300; color: #878678;
        margin-bottom: 40px;
    }
    section.listContainer.type01 .titleBox p{
        font-size: 20px; font-weight: 700; color: #453e45;
        width: 60%; margin: 0 auto; max-width: 1120px;
        line-height: 30px;
    }
    section.listContainer.type01 ul{
        max-width: 1920px; margin: 0 auto;   
    }
    section.listContainer.type01 ul li{
        position: relative; margin-bottom: 80px;
    }
    section.listContainer.type01 ul li:after{
        content: ''; display: block; clear: both;
    }
    section.listContainer.type01 ul li img{
        width: 47.5%;
    }
    section.listContainer.type01 ul li:nth-of-type(2n) img{
        float: right;
    }
    section.listContainer.type01 ul li div{
        position: absolute; 
        display: flex; height: 100%; width: 37.5%;
        flex-flow: column; justify-content: center;
    }
    section.listContainer.type01 ul li:nth-of-type(2n-1) div{
        right: 0; top: 0; padding: 0 10% 0 5%;
    }
    section.listContainer.type01 ul li:nth-of-type(2n) div{
        left: 0; top: 0; padding: 0 5% 0 10%;
    }
    section.listContainer.type01 ul li div h3{
        font-size: 40px; font-weight: 400; color: #5a5866;
        text-transform: uppercase;
    }
    section.listContainer.type01 ul li div p{
        font-size: 18px; font-weight: 500; color: #717856; line-height: 28px;
    }
    section.listContainer.type01 ul li div a{
        display: block; width: 25%; max-width: 125px;
        font-size: 15px; font-weight: 500; color: #242b47; line-height: 35px;
        text-align: center; text-decoration: none; background-color: #ebe4de;
    }

}