
@media screen and (min-width: 1280px){
    section{
        padding-top: 130px;
    }
    section.mainContainer{
        background: url('../images/index_banner.png') left top / cover no-repeat;
        padding: 575px 10% 280px 50%; box-sizing: border-box;
        text-align: center;
    }
    section.mainContainer>*:not(a){
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
    }
    section.mainContainer h2{
        font-size: 50px; font-weight: 300; color: #ffd6d6;
        margin-bottom: 20px;
    }
    section.mainContainer p{
        font-size: 25px; font-weight: 500; color: #fffc99;
        line-height: 35px; margin-bottom: 30px;
    }
    section.mainContainer a{
        font-size: 20px; font-weight: 500; color: #e0838a;
        display: block; background-color: #ebe4de;
        margin: 0 auto; max-width: 220px; line-height: 50px;
        text-decoration: none;
    }
    section.listContainer.type01{
        margin-bottom: 100px;
    }
    section.listContainer.type01 .titleBox{
        background-repeat: no-repeat;
        background-position: center bottom;
        padding: 70px 0 620px;
        text-align: center; margin-bottom: 100px;
    }
    section.listContainer.type01 .titleBox.list01{background-image: url('../images/listPage01_banner.png');}
    section.listContainer.type01 .titleBox.list06{background-image: url('../images/listPage06_banner.png');}
    section.listContainer.type01 .titleBox h2{
        font-size: 50px; font-weight: 300; color: #878678;
        margin-bottom: 40px;
    }
    section.listContainer.type01 .titleBox p{
        font-size: 20px; font-weight: 700; color: #453e45;
        width: 60%; margin: 0 auto; max-width: 1120px;
        line-height: 30px;
    }
    section.listContainer.type01 ul{
        max-width: 1920px; margin: 0 auto;   
    }
    section.listContainer.type01 ul li{
        position: relative; margin-bottom: 80px; display: block;
    }
    section.listContainer.type01 ul li:after{
        content: ''; display: block; clear: both;
    }
    section.listContainer.type01 ul li img{
        width: 47.5%;
    }
    section.listContainer.type01 ul li:nth-of-type(2n) img{
        float: right;
    }
    section.listContainer.type01 ul li div{
        position: absolute; 
        display: flex; height: 100%; width: 37.5%;
        flex-flow: column; justify-content: center;
    }
    section.listContainer.type01 ul li:nth-of-type(2n-1) div{
        right: 0; top: 0; padding: 0 10% 0 5%;
    }
    section.listContainer.type01 ul li:nth-of-type(2n) div{
        left: 0; top: 0; padding: 0 5% 0 10%;
    }
    section.listContainer.type01 ul li div h3{
        font-size: 40px; font-weight: 400; color: #5a5866;
        text-transform: uppercase; margin-bottom: 40px;
    }
    section.listContainer.type01 ul li div p{
        font-size: 18px; font-weight: 500; color: #717856; line-height: 28px;
        margin-bottom: 60px;
    }
    section.listContainer.type01 ul li div a{
        display: block; width: 25%; max-width: 125px;
        font-size: 15px; font-weight: 500; color: #242b47; line-height: 35px;
        text-align: center; text-decoration: none; background-color: #ebe4de;
        align-self: flex-end;
    }
    section.listContainer.type02 .titleBox{
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 616px; margin-bottom: 80px;
    }
    section.listContainer.type02 .titleBox.list02{background-image: url('../images/listPage02_banner.png');}
    section.listContainer.type02 .titleBox.list03{background-image: url('../images/listPage03_banner.png');}
    section.listContainer.type02 .titleBox.list04{background-image: url('../images/listPage04_banner.png');}
    section.listContainer.type02 .titleBox.list05{background-image: url('../images/listPage05_banner.png');}

    section.listContainer.type02 .titleBox h2{
        padding: 50px 0; margin: 0 auto; max-width: 1920px; width: 80%;
        font-size: 50px; font-weight: 400; color: #78776b;
        text-shadow: 2px 1px 3px rgba(237, 199, 199, 0.75);
    }
    section.listContainer.type02 .titleBox h2 small{
        font-size: 20px; font-weight: 400; text-transform: uppercase;
    }
    section.listContainer.type02>div:last-of-type{
        max-width: 1920px; margin: 0 auto; padding: 0 10%;
    }
    section.listContainer.type02>div:last-of-type>mark{
        display: block; margin-bottom: 30px;
        background-color: transparent; font-style: normal;
        font-size: 40px; font-weight: 400; color: #808761;
    }
    section.listContainer.type02>div:last-of-type p{
        font-size: 18px; font-weight: 400; color: #303325;
        line-height: 28px; margin-bottom: 80px;
    }
    section.listContainer.type02>div:last-of-type select{
        appearance: none;
        background: url('../images/icon_more.svg') 97% center no-repeat;
        font-size: 20px; font-weight: 500; height: 50px; padding: 0 1%;
        display: block; border-radius: 5px; color: #1d1d21;
        border: 1px solid #1d1d21; margin-bottom: 50px;
        margin-left: auto; width: 25%; max-width: 400px;
    }
    ul.itemSlot:after{
        content: ''; display: block; clear: both;
    }
    ul.itemSlot li{
        float: left; display: block; width: 26.666%;
        text-align: center; padding: 0 1.3%; box-sizing: border-box;
        margin-bottom: 80px; min-height: 730px;
        position: relative;
    }
    ul.itemSlot li:not(:nth-of-type(3n)){
        margin-right: 10%;
    }
    ul.itemSlot li img{
        width: 100%; padding: 115px 0;
    }
    ul.itemSlot li b{
        display: block; 
        font-size: 20px; font-weight: 700; color: #453e45;
        line-height: 30px; margin-bottom: 10px;
    }
    ul.itemSlot li small{
        font-size: 18px; font-weight: 400; color: #453e45;
        display: block; margin-bottom: 50px;
    }
    ul.itemSlot li mark{
        font-style: normal; background-color: transparent;
        font-size: 20px; font-weight: 700; color: #e0838a;
        line-height: 50px;
        position: absolute; width: 90%; left: 5%; bottom: 20px;
    }
    ul.itemSlot li>div{
        opacity: 0;
        position: absolute;
        box-shadow: none;
        width: 100%; height: 100%; top: 0; left: 0;
        transition: box-shadow ease-out .3s;
    }
    ul.itemSlot li:hover>div{
        opacity: 1;
        box-shadow: 2px 2px 10px rgba(180, 169, 166, 0.75);
    }
    ul.itemSlot li>div a{
        line-height: 50px;
        position: absolute; bottom: 20px; left: 5%; width: 90%;
        text-decoration: none; text-transform: uppercase;
        font-size: 20px; font-weight: 500; color: #e0838a;
        background-color: #ebe4de;
    }
}