body{
    margin: 0; position: relative;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: blue; */
    background: linear-gradient(to bottom, #7db9f8 0%, #1e5799 100%);
    position: absolute;
    animation-name: moveCircle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
@keyframes moveCircle{
    0%{
        left: 0; transform: rotate(0deg);
    }
    50%{
        left: 600px; transform: rotate(360deg);
    }
    100%{
        left: 0; transform: rotate(0deg);
    }
}
.circle:hover{
    animation-play-state: paused;
}
/* 
    ? animation
    * 1. 대상요소에 animation-name으로 keyframe set(moveCircle). (css = 소수점 두자리 까지.)
    * 2. duration으로 재생시간 설정.
    * 3. timing-function 으로 가속도 설정.
    * 4. iteration-count 로 반복 횟수 설정.(infinite = 무한)
    * 5. direction으로 재생방향설정(iteration-count 필요.)
*/