body{
    margin: 0;
}
.durationEX1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition-duration: 1s;
    transition-property: background-color;
    /* 기본 값 all */
}
.durationEX1:hover{
    background-color: yellow;
    width: 300px;
    height: 300px;
}