.tagSelector h1{
    color: green; font-size: 20px;
}
.tagSelector p{
    color: blue; font-size: 15px;
}
.tagSelector span{
    color: purple; font-size: 13px;
}
/* 태그선택자 */

.idSelector p#paragraph1{
    text-decoration: underline;
}
.idSelector p#paragraph2{
    text-decoration: line-through;
}
.idSelector p#paragraph3{
    text-decoration: overline;
}
/* ID선택자 */
.classSelector p.f_size{
    font-size: 20px;
}
.classSelector p.f_weight{
    font-weight: 700;
}
.classSelector p.f_color{
    color: blue;
}
/* class선택자 / 다중 클래스  */

.attrSelector fieldset{
    border: 1px solid #555; background-color: slateblue;
}
.attrSelector fieldset legend{
    border: 1px solid slateblue;
    background-color: #555;
    color: #fff;
}
.attrSelector fieldset ul{
    margin: 0; padding: 0; list-style: none;
}
.attrSelector fieldset ul li{
    font-size: 14px; color: #fff; line-height: 30px;
}
.attrSelector fieldset ul li label{
    width: 100px; display: inline-block;
}
.attrSelector fieldset ul li input{
    padding: 5px; vertical-align: middle;
}
.attrSelector fieldset ul li input[type='text']{
    background-color: salmon; border: 3px solid gray;
}
.attrSelector fieldset ul li input[type='password']{
    background-color: lightgreen; border: 3px solid green;
}
.attrSelector fieldset ul li input[type='radio']{
    width: 30px; height: 30px;
}
.attrSelector fieldset ul li input[type='checkbox']{
    width: 50px; height: 50px;
}
/* 속성별 선택자 */

.directSelector >h1{
    font-size: 20px; color: blue;
}
.directSelector >span{
    font-size: 30px; color: magenta;
}
/* 직계 선택자 */
.sameSelector h1~h2{
    background-color: #555;
}
.sameSelector h1+h2{
    font-size: 50px; color: white;
}
/*  동위 선택자 */
.stringAttrSelector img[src$='png']{
    width: 100px; border: 3px solid red;
}
.stringAttrSelector img[src$='jpg']{
    width: 200px; border: 3px solid green;
}
.stringAttrSelector img[src$='gif']{
    width: 300px; border: 3px solid blue;
}
.stringAttrSelector h1[title*='탈의실']{
    font-size: 20px;
}
.stringAttrSelector h1[title*='제목']{
    background-color: black; color: white;
}
.stringAttrSelector h1[title^='남자']{
    color: blue;
}
.stringAttrSelector h1[title$='여자']{
    color: yellow;
}
/* 속성값 문자열 일치 */
/* 
    * *= : 해당 단어가 들어가는 모든 대상 선택. (전,후 상관없음)
    * ^= : 해당 단어로 시작하는 것만 선택.
    * $= : 해당 단어로 끝나는 것만 선택.
    * |= : 해당 단어가 -로 구분되는 대상 선택.
    * ~= : 띄어쓰기 기준으로 해당 단어 선택. 
*/
.eventSelector a{
    display: block; line-height: 50px;
}
.eventSelector a:link{
    color: red;
}
.eventSelector a:visited{
    color: blue;
}
.eventSelector a:hover{
    color: gray;
}
.eventSelector a:focus{
    color: magenta;
}
/* 이벤트선택자 */
.statusSelector input[type='checkbox']+label{
    overflow: hidden;
    display: inline-block;
    height: 20px;
}
.statusSelector input[type='checkbox']:checked+label{
    height: 0;
}
.statusSelector input[type='text']::placeholder{
    color: greenyellow;
}
.statusSelector input[type='text']:enabled{
    background-color: black; color: white;
}
.statusSelector input[type='text']:disabled{
    background-color: #ddd; color: gray;
}
.normalSelector ul{
    overflow: hidden;
    list-style: none;
    margin: 30px 0; padding: 0;
}
.normalSelector ul li{
    width: 14.26%; padding: 15px; box-sizing: border-box;
    float: left; text-align: center;
}
.normalSelector ul li:nth-child(2n+1){
    background-color: gray;
}
.normalSelector ul li:nth-child(2n){
    background-color: blue;
}
.normalSelector ul li:first-child{
    border-radius: 30px 0 0 30px;
}
.normalSelector ul li:last-child{
    border-radius: 0 30px 30px 0;
}
.shapeSelector h1:nth-of-type(2){
    color: blue;
}
.shapeSelector h2:nth-of-type(2){
    color: green;
}
.shapeSelector h3:nth-of-type(2){
    color: red;
}

.textSelector h1::first-letter{
    font-size: 100px; color: blue;
}
.textSelector p::first-line{
    color: green; text-decoration: underline;
}

.backandfrontSelector p{
    counter-increment: numb;
}
.backandfrontSelector p:before{
    content: counter(numb); font-weight: 700; color: magenta;
}
.backandfrontSelector p:after{
    content: '-' attr(data-page) 'page'; font-weight: 700; color: blue; 
}
.reactionSelector >*{
    color: white;
}
.reactionSelector >*::selection{
    background-color: black; color: blue;
}
.notSelector input:not([type='submit'],[type='password']){
    background-color: red;
}