body{
    width: 80%; margin: 0 auto;
}
h1{
    position: relative;
    margin: 0; font-size: 30px; color: gray;
    padding: 20px 50% 20px 0;
    /* padding-right: 50%; */
}
h1 a{
    position: absolute;
    right: 0;
    width: 50%;
    text-align: right;
    color: green; font-size: 24px;
}
form fieldset{
    position: relative;
    border-width: 3px 0 1px;
    border-color: green;
    border-style: solid none;
}
form fieldset input[type='search']{
    width: 20%;
    border: 1px solid green;
    background-color: palegreen;
}
form fieldset input[type='button']{
    width: 10%;
    background-color: darkolivegreen;
    color: white;
    border: 2px solid limegreen;
    min-width: 60px;
}
form fieldset select{
    position: absolute;
    right: 0;
    background-color: lightseagreen;
    width: 25%;
    padding: 4px 0;
    min-width: 145px;
}
h2{
    margin: 0; padding: 30px 0;
    color: #555;
    /* 
    0~f (0 1 2 3 4 5 6 7 8 9 a b c d e f)
    6자리
    000000 = 000
    ffffff = fff    
    */
}
h2 strong{
    color: lightsalmon;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}
ul li:first-of-type{
    border-width: 3px 0 1px;
    border-style: solid none;
    border-color: darkmagenta;
    padding: 10px 0;
}
ul li:not(:first-of-type){
    border-bottom: 1px solid magenta;
    position: relative;
}
ul li:nth-of-type(2n){
    background-color: #ccc;
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block;
    float: left;
    font-size: 14px;
    padding: 10px 2.5%;
}
ul li span:not(:nth-of-type(2)){
    width: 15%;
}
ul li span:nth-of-type(2){
    width: 35%;
}
ul li mark{
    position: absolute;
    right: 0; top: 0;
    font-size: 9px;
    background-color: rgba(0, 255, 0, 0.5);
    /* opacity 백분지수*/
}
body>div{
    position: relative;
    width: 30%; margin: 0 auto;
}
body>div>a{
    position: absolute; top: 0;
    display: block; font-size: 14px; padding: 5px;
    text-decoration: none;
}
body>div>a:first-of-type{
    left: 0;
}
body>div>a:last-of-type{
    right: 0;
}
body>div ol{
    padding: 0 25px;
    margin: 0;
    text-align: center;
}
body>div ol li{
    display: inline-block;
    /* 디자인 공간이 확보되어 있을 때 */
}